<div *screenLarge class="container px-4 py-4">
  <!-- Title -->
  <div class="titles mb-4">
    <h1 class="text-2xl font-semibold text-center">Data types</h1>
  </div>

  <!-- Tile -->
  <div class="subtitles mb-4">
    <h2 class="text-center text-lg">Tile: {{currentTile}}</h2>
  </div>

  <div class="titles mb-4">
    <h3 class="text-base">Please select a datatype</h3>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title class="mt-[11px]">Datatypes</mat-card-title>
    </mat-card-header>

    <!-- Datatype -->
    <div class="flex flex-row justify-around items-stretch w-full">
      <div class="data-box basis-[75%]">
        <div class="flex flex-row flex-wrap justify-center items-center gap-[25px]">
          <div *ngIf="(dataTypes$ | async) as dataFlows">
            <div *ngIf="dataFlows.length == 0">
              <div>No dataflow in the selected tile.</div>
            </div>
          </div>

          <div *ngFor="let dataType of (dataTypes$ | async); let i = index" class="databox">
            <div class="flex-auto">
              <mat-card (click)="onSelectDatatype(i, dataType)"
                        [ngClass]="{'card-selected mat-elevation-z4': selected === i}">
                <mat-list>
                  <mat-list-item>
                    <mat-icon>folder</mat-icon>
                    <div matListItemTitle>&ensp;{{ dataType | uppercase }}&nbsp;</div>
                  </mat-list-item>
                </mat-list>
              </mat-card>
            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-card>
</div>
