.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.full-width {
    width: 100%;
}

p {
    font-family: Lato;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.container {
    all: unset;
    padding: 10px;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.center {
    align-items: center !important;

    margin-left: 65px;

    color: rgba(31, 24, 24, 0.769);
    font-size: 24px;

}

.label {
    margin-top: 35px;
    padding-top: 15px;
    color: rgba(186, 212, 228, 0.769);
    font-size: 24px;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}

.button {
    width: 100%;
}

.mat-toolbar {
    margin-bottom: 15px;

}

::ng-deep mat-form-field {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
