@font-face{
  font-family : "thesans-light";
  src : url("../assets/files/TheSans-Light_44258.ttf") format("truetype");
}
@font-face {
  font-family: 'thesans-bold';
  src: url('../assets/files/TheSans_B7_Bold.ttf') format("truetype");
}
@font-face{
    font-family : "thesans-extrabold";
    src : url("../assets/files/TheSans_B8_ExtraBold.ttf") format("truetype");
  }

  @font-face{
    font-family : "thesans-regular";
    src : url("../assets/files/TheSans-Regular_44265.ttf") format("truetype");
  }

  @font-face{
    font-family : "thesans-plain";
    src : url("../assets/files/TheSans-Plain_44259.ttf") format("truetype");
  }
