<div class="container-custom flex flex-col">
  <div class="container-custom" *ngIf="false; else loaded">
    <app-loading></app-loading>
  </div>
  <ng-template #loaded>
    <app-header (toggleMenu)="toggleMenu()"></app-header>
    <div class="flex-1">
      <app-sidebar (toggleMenu)="toggleMenu()" [isExpanded]="isExpanded"></app-sidebar>
    </div>
    <app-footer class="footer"></app-footer>
  </ng-template>
</div>
// TODO changement a faire avec ce ng confirm
<!-- <ng-confirm></ng-confirm> -->
<ngx-ui-loader></ngx-ui-loader>
