@import "../../../../../styles/app-colors.scss";

.container {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  .microlight {
    display: inline-block;
    font-family: monospace;
    background-color: #263238;
    color: #AABBC3;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
    padding: 10px;
    margin: 10px;
    white-space: pre;
  }

  .filter-box {
    background-color: #EDF7F7;
    border: 2px solid rgb(163, 160, 160, 0.6) !important;
    height: fit-content;
    width: 380px;
    border-radius: 5px;
  }

  .filterInput {
    width: 120px;
  }

  .child-3 {
    background-color: green;
  }

  h1 {
    font-size: 1.5rem !important;
    color: $main-color2 !important;
  }

  h3 {
    font-size: 1.2rem !important;
    padding-left: 40px !important;
    color: $main-color1 !important;
  }

  ::ng-deep th.mat-header-cell {
    width: 140px;
    min-width: 140px;
  }

  ::ng-deep td.mat-cell {
    text-align: center !important;
    border-color: transparent;
    font-weight: 700;
  }

  table {
    background-color: transparent;
    margin: 20px;
    width: 100%;
    box-shadow: unset;
    border-color: white !important;
  }

  .databox {
    max-width: 400px;
    margin: 2em;
    cursor: pointer;
  }

  mat-card:hover .selection {
    opacity: 1;
  }

  mat-card.mat-elevation-z4 .selection {
    opacity: 1;
  }

  .card-selected {
    border: 2px solid #283593;
  }

  .selection {
    opacity: 0;
    cursor: pointer;
    color: #283593;
    background: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 100%;
    height: 24px;
    width: 24px;
  }

  p {
    margin-top: 2em;
  }
}

.mat-card-header {
  background: #12121212;
  padding: 5px;
  color: rgba(107, 14, 154);
}

.mat-card-content {
  padding: 10px;
}

.mat-card {
  padding: 0;
}

.button-mat-card-actions {
  text-align: center !important;
  font-size: 14px !important;
  font-weight: 200 !important;
  margin-bottom: 5px;

}

.center {
  text-align: center;
}

.cancel-color {
  background-color: red;
  color: white;
  margin-left: 2px !important;
}


.titles h1 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Roboto", serif;
  // font-weight: 700;
  margin-top: 45px;
}

.titles h3 {
  text-align: center;
  font-size: 25px;
  color: #5b5757;
  letter-spacing: 1px;
  font-family: "Roboto", serif;
  font-weight: 400;
  margin-top: 45px;
  padding-right: 35px;
}

.subtitles h2 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Roboto", serif;
  font-weight: 400;
  //  margin-top: 45px;
}