<div *screenLarge class="container">
  <!-- Title -->

  <div class="titles">
    <h1 class=" titles center">sub types</h1>
  </div>

  <!-- Tile -->
  <div class="subtitles">
    <h2 class="center">Datatype : {{dataType}}</h2>
  </div>

  <div class="titles">
    <h3>Please select a subtype</h3>
  </div>

  <!-- Subscribe All -->
  <mat-card style="margin-bottom: 10px;">
    <mat-card-header>
      <mat-card-title style="margin-top: 11px;">Subtypes</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="center">
      <!-- Subtypes -->
      <div fxLayout="row" fxLayoutAlign="space-around stretch">
        <div class="data-box" fxFlex="75%">
          <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px">
            <div *ngFor="let subtype of realsubtypes ; let i = index" class="databox">
              <div>
                <mat-card (click)="onSelectCard(subtype) "
                  [ngClass]="{'card-selected mat-elevation-z4': selected === i} ">
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListItemIcon>folder</mat-icon>
                      <div matListItemTitle>&ensp;{{ subtype | uppercase }}&nbsp;</div>
                    </mat-list-item>
                  </mat-list>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="button-mat-card-actions" mat-raised-button (click)="showTopic()">My subscriptions</button>
      <button class="button-mat-card-actions" mat-raised-button color="primary" (click)="subscribe()">Subscribe to
        all</button>
    </mat-card-actions>
  </mat-card>
</div>