<div class="spinner">
  <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate" value="50" diameter="30">
  </mat-progress-spinner>
</div>
<ng-container *ngIf="!isLoading">
  <mat-toolbar fxLayout="row inline" fxLayoutGap="30px">
    <span fxFlex="10%">Quick Access</span>
    <div fxFlex="90%">
      <button mat-button *ngFor="let item of (quickAccessItems$ | async)" [fxShow]="item.showOnDesktop"
        [routerLink]="[item.url]" [fxShow.xs]="item.showOnMobile" [fxShow.sm]="item.showOnTablet"
        class="quick-access-button">
        <mat-icon class="mr">{{item.icon}} - </mat-icon>
        {{item.label}}
      </button>
      <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.sm style="margin: 5%;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of (quickAccessItems$ | async)">
          <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.sm]="!item.showOnMobile"
            [routerLink]="[item.url]">
            <button mat-menu-item>
              <mat-icon class="mr">{{item.icon}}</mat-icon>
              {{item.label}}
            </button>
            <mat-divider></mat-divider>
          </div>
        </ng-container>
      </mat-menu>
    </div>
  </mat-toolbar>
  <ng-container>