<div class="spinner">
  <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate" value="50" diameter="30">
  </mat-progress-spinner>
</div>

<ng-container *ngIf="!isLoading">
  <mat-toolbar class="flex flex-row gap-[30px]">
    <span class="basis-[10%]">Quick Access</span>
    <div class="basis-[90%] flex items-center">
      <button mat-button *ngFor="let item of (quickAccessItems$ | async)"
              class="quick-access-button"
              [routerLink]="[item.url]"
              [class.hidden]="!item.showOnDesktop"
              [class.block.sm:hidden]="!item.showOnTablet"
              [class.block.xs:hidden]="!item.showOnMobile">
        <mat-icon class="mr text-purple-900">{{item.icon}} - </mat-icon>
        <span class="text-purple-900">{{item.label}}</span>
      </button>
      <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of (quickAccessItems$ | async)">
          <div
            [routerLink]="[item.url]"
            [class.block]="!item.showOnDesktop"
            [class.block.sm:hidden]="!item.showOnTablet"
            [class.block.xs:hidden]="!item.showOnMobile">
            <button mat-menu-item>
              <mat-icon class="mr">{{item.icon}}</mat-icon>
              {{item.label}}
            </button>
            <mat-divider></mat-divider>
          </div>
        </ng-container>
      </mat-menu>
    </div>
  </mat-toolbar>
</ng-container>
