<div #search_area click="searchClose()">
    <mat-toolbar color="primary" class="mat-elevation-z4" [class.hidden]="toggleSearch">
        <button mat-button style="padding: 0 5px;">
            <mat-icon>search</mat-icon>
        </button>
        <mat-form-field floatLabel="auto">
            <input matInput #searchbar [(ngModel)]="searchText">
        </mat-form-field>
        <button *ngIf="searchbar.value.length>0" mat-button mat-icon-button (click)="searchCloseOnX()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</div>
