<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <!-- Why 5GMETA ? -->
    <div class="ft-main-item">
      <a href="https://5gmeta-project.eu/objectives/" target="_blank" rel="noopener noreferrer">
        <h2 class="ft-title">{{ 'TITLE_WHY5GMETA_FOOTER' | translate }}</h2>
      </a>
    </div>
    <!-- ABOUT US -->
    <div class="ft-main-item">
      <a href="https://5gmeta-project.eu/" target="_blank" rel="noopener noreferrer">
        <h2 class="ft-title">{{ 'ABOUT_US' | translate }}</h2>
      </a>
    </div>
  </section>
</footer>