<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <!-- Why 5GMETA ? -->
    <div class="ft-main-item">
      <a href="https://5gmeta-project.eu/objectives/">
        <h2 class="ft-title">{{ 'TITLE_WHY5GMETA_FOOTER' | translate }}</h2>
      </a>
    </div>
    <!-- ABOUT US -->
    <div class="ft-main-item">
      <a href="https://5gmeta-project.eu/">
        <h2 class="ft-title">{{ 'ABOUT_US' | translate }}</h2>
      </a>
    </div>
    <!-- Terms & Conditions -->
    <!--
    <div class="ft-main-item">
      <h2 class="ft-title">{{'TERMS_N_CONDITIONS' | translate}}</h2>
      <ul>
        <li><a href="#">{{'PRIVACY_POLICY' | translate}}</a></li>
      </ul>
    </div>
    -->
    <!-- Contact us -->
    <!--
    <div class="ft-main-item">
      <h2 class="ft-title">{{ 'CONTACTS_US_FOOTER' | translate }}</h2>
      <ul class="ft-social-list">
        <li><a href="#">
            <mat-icon>facebook</mat-icon>
          </a></li>
        <li><a href="#">
            <mat-icon>alternate_email</mat-icon>
          </a></li>
        <li><a href="#">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a></li>
      </ul>
    </div>
    -->
  </section>
</footer>