@import 'variables.scss';

.sidenav {
  width: 240px;
}

.toggle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;

  &:hover {
    cursor: pointer;
  }
}

.nav {
  .active-link {
    background-color: #fafafa;
    border-left: solid 3px #1976d2;
  }

  .hover {
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-property: transform, border, background-color;
  }

  mat-list-item,
  a {
    border: none;
    box-sizing: border-box;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      //   background-color: #fafafa;
      border-left: solid 3px #1976d2;
    }
  }

  mat-icon {
    color: #1976d2;
  }
}

.sidenav-content-container {
  min-height: calc(100vh - #{$header-height + $footer-height});
  box-sizing: border-box;
  padding-left: 1rem;
}

.flex {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.scrollable {
  overflow: hide;
  box-sizing: border-box;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  top: 0;
}

.no-material-margin {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

// .mat-card {
//   max-width: 100%;
//   max-height: 100%;
// }

// .app-container {
//   position: relative;
// }


.sidenav-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

mat-sidenav {
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

.custom-breadcrumb {
  margin-top: 25px;
}
