<div *screenLarge class="container">
  <mat-card *ngIf="!hasSubscribed">
    <mat-card-title class="center" matLine>
      No topics yet
    </mat-card-title>
  </mat-card>
  <mat-card *ngIf="hasSubscribed" style="margin-bottom: 10px;">
    <div mat-row class="center">
      <div class="col-8">
        <div class="microlight" style="margin-right: 10px">52.47.105.88
          <mat-card-actions align="end">
            <button mat-icon-button (click)="copy('52.47.105.88')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-actions>
        </div>
        <div class="microlight" style="margin-right: 10px">31090
          <mat-card-actions align="end">
            <button mat-icon-button (click)="copy('31090')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-actions>
        </div>
        <div class="microlight" style="margin-right: 10px">31091
          <mat-card-actions align="end">
            <button mat-icon-button (click)="copy('31091')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-actions>
        </div>
        <div class="microlight">31092
          <mat-card-actions align="end">
            <button mat-icon-button (click)="copy('31092')">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </mat-card>
</div>